class Genesis {

	final int var1 = 8;
	final int var2 = 5;
	final int var3 = 3;
	final int var4 = var2 + var3 * 2;

	int iAmAField;

    /* ()V main is obligatory starting point --> main paras MUST BE EMPTY */
	public void main() {

        int w;
        int q;
        int m;

        w = 10;
        q = 0;
        while (w > 0)
        {
            while (q < 10)
            {
                if (q == 5)
                {
                    println(q);
                    q = q+1;
                    m = meth(90);
                }
                else
                {
                    q = q+1;
                }
            }
            w = w -1;
        }
        println(w);
        println(q);
        println(m);
	}

    public int meth(int p)
    {
        int c;
        iAmAField = 5;
        c = 2;
        p = p + 2;
        return p + 1 + c + var3 - iAmAField; // Is basically p + 3
    }
}
