class Genesis {

	final int var1 = 8;
	final int var2 = 5;
	final int var3 = 3;
	final int var4 = var2 + var3 * 2;

	int iAmAField;

    /* ()V main is obligatory starting point --> main paras MUST BE EMPTY */
	public void main() {

	    //int a;
	    //int b;
	    //a = 1 + 5 * 3 * 2;
	    //b = a + var3;
	    //println(a);
	    //println(b);
	    //println(var2);
        //iAmAField = 1 + var3;
	    //println(iAmAField);
	    //println(meth(1));

        int s;
        s = 10;
        // ToDo: if und while nur mit -noverify weil der sonst stackmapAttribute erwartet
        if (s < 11)
        {
            if (s > 9)
            {
                s = meth(1);
            }
            else
            {
                s = 2;
            }
        }
        else
        {
            s = 4;
        }
        println(s);
        return;

	    // ToDo Err there must be no return for void methods
	}

    public int meth(int p)
    {
        int c;
        iAmAField = 5;
        c = 2;
        p = p + 2;
        return p + 1 + c + var3 - iAmAField;
    }
}
