
// comments can be ignored

class Penguin {

    ( WRONG IDENT + 10 - / 3 = a);

    public int age;

    public void Penguin( int age )
    {
        age = age * 10; // warum auch immer
    }

    /**
    * Sehr unnötige Methode die nichts macht
    */
    public void getAge()
    {
        return age;
    }

    /**
    * Unnötige Methode die viel macht
    */
    public int doPenguinStuff( int anzahl )
    {
        if ( anzahl > 10 )
        {
            // mache penguin Sachen
            getAge();
        }
        else
        {
            return 10 * 1 - 10;
        }

        while ( age <= 10)
        {
            age = age + 1;
        }

        int madeStuff = age / 10;
        return madeStuff;
    }

}
