class Genesis {

	final int var1 = 9999;
	final int var2 = 5;
	final int var3 = 3;
	final int var4 = var2 + var3 * 2;

    /* ()V main is obligatory starting point */
	public void main() {
	    int a;
	    int b;
	    a = 333;
	    b = var4 + drei(1, 2);
	    // println(aaa);
	}

	public int drei(int n, int m) {
	    int a;
	    int b;
	    int c;
	    return n+m;
	}
}
